@font-face {
  font-family: "NTR";
  font-weight: 200;
  font-display: fallback;
  src: url("/fonts/NTR-Regular.ttf") format("truetype");
}

#about {
  padding-top: 40px;
  height: 90vh;
}

.about-description ul {
  padding-top: 20px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(230px, 10px));
}

.about-description li {
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  color: var(--slate);
}

.about-description li::before {
  content: "▹    ";
  color: var(--green-bright);
  position: absolute;
  left: 0;
}

.about-content {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.about-description {
  font-family: "NTR", sans-serif;
  color: var(--slate);
  max-width: 550px;
  font-size: 20px;
  margin: 0;
}

.about-description a,
.about-description b {
  font-size: 19px;
  font-weight: bold;
}

.about-image {
  padding-left: 40px;
}

.about-image img {
  width: 35%;
  height: auto;
  border-radius: 10px;
  box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
  border: 2px solid var(--green-bright);
}

.about-image:hover {
  transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
  #about {
    height: unset;
    padding-top: 40px;
  }

  .about-description ul {
    padding-top: 10px;
    grid-template-columns: repeat(2, minmax(200px, 10px));
  }
  .about-image img {
    display: none;
  }

  .about-content {
    display: unset;
  }
}
