@font-face {
    font-family: "source-serif-pro";
    src: url("../fonts/source-serif-pro/SourceSerifPro-Regular.ttf");
}
@font-face {
    font-family: "adobe-caslon-semibold";
    src: url("../fonts/adobe-caslon-pro/ACaslonPro-Semibold.otf");
}
@font-face {
    font-family: "adobe-caslon-regular";
    src: url("../fonts/adobe-caslon-pro/ACaslonPro-Regular.otf");
}

.rs-steps-item-title {
    font-family: "adobe-caslon-regular";
    font-size: 20px !important;
}
.rs-steps-item-status-process .rs-steps-item-title {
    font-family: "adobe-caslon-semibold";
}
.rs-steps-item-description {
    font-family: "source-serif-pro";
}
.rs-steps-item-status-process .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon) {
    background: #9e8f68 !important;
    border-color: #9e8f68 !important;
}
.rs-steps-item-status-finish .rs-steps-item-tail, .rs-steps-item-status-finish .rs-steps-item-title::after,
.rs-steps-item-status-finish .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon),
.rs-steps-item-status-finish .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon) .rs-steps-item-icon::before  {
    color: #9e8f68 !important;
    border-color: #9e8f68 !important;
}

.next-btn, .prev-btn {
    background: white;
    font-family: "source-serif-pro";
}