@font-face {
    font-family: "adobe-caslon-semibold";
    src: url("../fonts/adobe-caslon-pro/ACaslonPro-Semibold.otf");
}
@font-face {
    font-family: "adobe-caslon-regular";
    src: url("../fonts/adobe-caslon-pro/ACaslonPro-Regular.otf");
}
@font-face {
    font-family: "source-serif-pro";
    src: url("../fonts/source-serif-pro/SourceSerifPro-Regular.ttf");
}
.Typist {
    height: 40px;
    text-align: left;
    font-family: "source-serif-pro";
    font-size: 14px;
    color: #9e8f68;
}
.sidebar-links {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: "source-serif-pro";
    letter-spacing: 0em;
    line-height: 1.6em;
    font-size: 16px;
    padding: .2em;
}
a {
    text-decoration: none !important;
    color: black !important;
}
a.sidebar-title {
    display: block;
    text-align: left;
    font-family: "adobe-caslon-semibold";
    font-size: 26px;
}
a:hover {
    color: #9e8f68 !important;
}

.sidebar-logos {
    padding-top: 42px;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-bottom: 8px;
}

img {
    height: 18px;
}