.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 36px 76px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  padding: 82px 42px;
  width: 750px;
}
.rs-steps-horizontal .rs-steps-item-content {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

